<html>
{% load static %}
   <head>
      <link rel="stylesheet" href="{%static "css/1.css"%}"/>
   </head>
   <body bgcolor="#f5e65d">
   <center><h1><u>{{name}}'s Favourites</u></h1></center>
   <div>
      <h2>player:{{player}}</h2>
      <h3><a href="https://en.wikipedia.org/wiki/MS_Dhoni">click know more</a></h3>
      <img src="{%static "images/dhoni.webp"%}">
   </div>
   <br>
   <div>
     <h2>Animal:{{animal}}</h2>
     <h3><a href="https://en.wikipedia.org/wiki/Lion">click know more</a></h3>
     <img src="{%static "images/lion.jpg"%}">
   </div>
   <br>
   <div>
     <h2>sub:{{subject}}</h2>
     <h3><a href="https://www.python.org/">click know more</a></h3>
     <img src="{%static "images/py.jpg"%}">
   </div>
   </body>
  </html>
